@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: white; /* Светлый оттенок основного цвета */
    --foreground: 168.7 55.6% 20%; /* Темный оттенок основного цвета */
    --card: 168.7 55.6% 98%; /* Очень светлый оттенок основного цвета */
    --card-foreground: 168.7 55.6% 20%; /* Темный оттенок основного цвета */
    --popover: 168.7 55.6% 98%; /* Очень светлый оттенок основного цвета */
    --popover-foreground: 168.7 55.6% 20%; /* Темный оттенок основного цвета */
    --primary: 168.7 55.6% 52.2%; /* Основной цвет */
    --primary-foreground: 168.7 55.6% 95%; /* Светлый оттенок основного цвета */
    --secondary: 168.7 55.6% 85%; /* Светло-голубой оттенок */
    --secondary-foreground: 168.7 55.6% 30%; /* Темно-голубой оттенок */
    --muted: 168.7 55.6% 90%; /* Очень светлый голубой */
    --muted-foreground: 168.7 55.6% 40%; /* Голубой средней насыщенности */
    --accent: 168.7 55.6% 85%; /* Светло-голубой оттенок */
    --accent-foreground: 168.7 55.6% 30%; /* Темно-голубой оттенок */
    --destructive: 0 84.2% 60.2%; /* Красный цвет для предупреждений */
    --destructive-foreground: 0 0% 98%; /* Белый цвет */
    --border: 168.7 55.6% 85%; /* Светло-голубой оттенок */
    --input: 168.7 55.6% 85%; /* Светло-голубой оттенок */
    --ring: 168.7 55.6% 52.2%; /* Основной цвет */
    --radius: 0.5rem;
    --chart-1: 168.7 55.6% 45%; /* Темный оттенок основного цвета */
    --chart-2: 168.7 55.6% 60%; /* Чуть более светлый оттенок основного цвета */
    --chart-3: 168.7 55.6% 70%; /* Еще более светлый оттенок */
    --chart-4: 168.7 55.6% 80%; /* Очень светлый оттенок */
    --chart-5: 168.7 55.6% 90%; /* Максимально светлый оттенок */
  }

  .dark {
    --background: 168.7 55.6% 10%; /* Темный оттенок основного цвета */
    --foreground: 168.7 55.6% 95%; /* Светлый оттенок основного цвета */
    --card: 168.7 55.6% 20%; /* Темный оттенок */
    --card-foreground: 168.7 55.6% 95%; /* Светлый оттенок */
    --popover: 168.7 55.6% 20%; /* Темный оттенок */
    --popover-foreground: 168.7 55.6% 95%; /* Светлый оттенок */
    --primary: 168.7 55.6% 52.2%; /* Основной цвет */
    --primary-foreground: 168.7 55.6% 10%; /* Темный оттенок */
    --secondary: 168.7 55.6% 30%; /* Темный голубой оттенок */
    --secondary-foreground: 168.7 55.6% 98%; /* Белый цвет */
    --muted: 168.7 55.6% 40%; /* Голубой средней насыщенности */
    --muted-foreground: 168.7 55.6% 70%; /* Светлый голубой */
    --accent: 168.7 55.6% 30%; /* Темный голубой оттенок */
    --accent-foreground: 168.7 55.6% 98%; /* Белый цвет */
    --destructive: 0 62.8% 30.6%; /* Темный красный цвет */
    --destructive-foreground: 0 85.7% 97.3%; /* Светло-красный цвет */
    --border: 168.7 55.6% 30%; /* Темный голубой оттенок */
    --input: 168.7 55.6% 30%; /* Темный голубой оттенок */
    --ring: 168.7 55.6% 52.2%; /* Основной цвет */
    --chart-1: 168.7 55.6% 70%; /* Светлый оттенок основного цвета */
    --chart-2: 168.7 55.6% 50%; /* Темный оттенок основного цвета */
    --chart-3: 168.7 55.6% 40%; /* Темно-голубой оттенок */
    --chart-4: 168.7 55.6% 35%; /* Очень темный голубой оттенок */
    --chart-5: 168.7 55.6% 20%; /* Максимально темный оттенок */
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}